.resume {
  @include wrapper();
  @include display(flex, unset, center, unset);
  column-gap: 3rem;

  & > * {
      @include radius('big');
      @include shadow();
      padding: 3rem;
      height: 100%;
      background-color: $neutralLightest;
  }

  &__top {

      &__img {
        background-color: $primaryLight;
        height: 180px;
        margin-bottom: 1rem;
        border-radius: 50%;
      }

      &__wrapper {
        text-align: center;
      }

      &__title {
          margin-bottom: 1rem;
          color: $neutralDark;
          font-size: 1.6rem;
          font-weight: 500;
      }
  }

  &__container {
    @include display(flex, unset, space-between, unset);
    width: 600px;

    &__info {
      margin-bottom: 2rem;
      width: 100%;
    }

    &__btn-menu {
      @include focus();
      @include radius('small');
      cursor: pointer; 
      display: none;
      position: relative;

      &-active {
        display: flex;
        align-self: flex-start;
        font-size: 1.5rem;
        color: rgba(130, 130, 130, 0.8);
      }
    }

    &__title {
      margin-bottom: 1rem;
      font-size: 1.6rem;
    }

    &__block {
      margin-bottom: 2rem;
    }

    &__link-block {
      @include display(flex, unset, unset, center);
      margin-bottom: 0.4rem;
    }

    &__link {
      display: block;
      color: $primary;
    }

    &__dropdown {
      position: relative;
      z-index: 20;
    }

    &__btn {
      @include focus();
      @include resetLink();
      width: 100%;

      &__primary {
        @include button('basic', 'basic', 'primary');
      }

      &__secondary {
        @include button('basic', 'basic', 'secondary');
      }
    }
  }
}

.personal {
  &__wrapper {
    @include display(flex, unset, unset, center);
    margin-bottom: 0.5rem;
  }

  &__name {

  }
}

.project {

  &__header {
    @include display(flex, unset, space-between, center);
  }

  &__card-wrapper {
    @include display(flex, unset, space-between, center);
  }

  &__card {
    @include radius('small');
    margin-bottom: 0.5rem;
    padding: 1rem;
    width: 100%;
    border: 2px solid $neutralMidDark;

    &__title {
      font-size: 1.3rem;
    }

    &__description {
      margin-top: 1rem;
    }

    &__btns {
      @include display(flex, unset, unset, center);
      column-gap: 1rem;
      margin-top: 0.5rem;
    }
  }
}